<div class="container">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <td>No</td>
                <td>Name</td>
                <td>Url</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody class="data-pokemon"></tbody>
    </table>
</div>
@section Scripts{
    <script src="~/js/coba.js" asp-append-version="true"></script>

}